* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 14px; } }
  @media only screen and (max-width: 450px) {
    html {
      font-size: 12px; } }

body {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  line-height: 1.5; }

object {
  pointer-events: none; }

.t1 {
  font-family: 'Nunito Sans', sans-serif;
  color: #0053bf;
  font-size: 2.3rem;
  font-weight: 800; }
  @media only screen and (max-width: 450px) {
    .t1 {
      text-align: center;
      font-size: 2rem; } }
  @media only screen and (max-width: 400px) {
    .t1 {
      font-size: 1.8rem; } }

.t1--white {
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 1.3px; }

.t2 {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2rem;
  color: #0053bf; }
  @media only screen and (max-width: 580px) {
    .t2 {
      font-size: 1.7rem; } }
  @media only screen and (max-width: 400px) {
    .t2 {
      font-size: 1.6rem;
      text-align: center; } }

.t3 {
  font-size: 1.3rem;
  color: #2776DD; }

.t4 {
  font-size: 1.15rem;
  color: #504f4f; }

.s1--white {
  font-size: 1rem;
  color: #fff;
  letter-spacing: 1px; }

.s1 {
  font-size: 1rem;
  color: #787575; }
  @media only screen and (max-width: 1170px) {
    .s1 {
      font-size: .9rem; } }
  @media only screen and (max-width: 480px) {
    .s1 {
      font-size: 1rem; } }

.button {
  padding: 1.2rem 3rem;
  text-transform: uppercase;
  border-radius: 5rem;
  background-color: #0053bf;
  outline: none;
  color: #fff;
  border: none;
  font-size: 0.9rem;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  position: relative; }
  .button span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in; }
    .button span:last-child {
      top: 0%;
      color: #fff;
      opacity: 0; }
  .button:hover, .button:active {
    background-color: #2776DD; }
    .button:hover span:last-child, .button:active span:last-child {
      top: 50%;
      opacity: 1; }
    .button:hover span:first-child, .button:active span:first-child {
      opacity: 0; }
  .button--middle {
    font-size: 0.9rem;
    padding: 1.5rem 7rem; }
  .button--big {
    font-size: 1rem;
    padding: 2rem 9rem; }

.navigation {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  position: relative; }
  @media only screen and (max-width: 900px) {
    .navigation {
      width: 100%; } }
  .navigation__button {
    display: block;
    height: 2rem;
    width: 2.5rem;
    background-color: #0053bf;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 4px;
    border-radius: .2rem; }
  .navigation__line {
    display: block;
    width: 1.4rem;
    height: 2.5px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .navigation__line::before, .navigation__line::after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      width: 1.4rem;
      height: 2.5px;
      background-color: #fff; }
    .navigation__line::before {
      top: -.4rem; }
    .navigation__line::after {
      top: .4rem; }
  .navigation .nav-top {
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-between; }
    @media only screen and (max-width: 900px) {
      .navigation .nav-top {
        display: none; } }
    .navigation .nav-top__list {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      flex: 0 100%; }
    .navigation .nav-top__link:link, .navigation .nav-top__link:visited {
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.7);
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 600; }
    .navigation .nav-top__link:hover, .navigation .nav-top__link:active {
      color: #0053bf; }
  .navigation .nav-bottom {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 4.1rem;
    width: 100%;
    height: 22rem;
    background-color: rgba(39, 118, 221, 0.6);
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0; }
    @supports (backdrop-filter: blur(0.5rem)) or (-webkit-backdrop-filter: blur(0.5rem)) {
      .navigation .nav-bottom {
        backdrop-filter: blur(0.5rem);
        -webkit-backdrop-filter: blur(0.5rem);
        background-color: rgba(39, 118, 221, 0.5); } }
    .navigation .nav-bottom__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start; }
    .navigation .nav-bottom__link, .navigation .nav-bottom__link:link, .navigation .nav-bottom__link:visited {
      display: block;
      font-size: 1.2rem;
      text-decoration: none;
      color: #fff;
      padding: 0.3rem 0;
      letter-spacing: 2px;
      text-transform: uppercase; }
    .navigation .nav-bottom__link:hover, .navigation .nav-bottom__link:active {
      color: #0053bf; }

.nav-bottom-show {
  visibility: hidden; }

.counter {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 16rem;
  width: 22%;
  border: 2px solid #fff;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5); }
  .counter__icon {
    height: 5rem;
    width: 5rem; }
  .counter__num {
    font-family: 'Cabin', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: #fff;
    letter-spacing: -1px; }
  .counter__topic {
    font-size: 1.2rem;
    font-family: 'Cabin', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    color: #fff; }

.card {
  margin: 1rem;
  height: 45%;
  width: 25%;
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 2rem 2.5rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column; }
  .card__top {
    background-image: linear-gradient(to right bottom, rgba(39, 118, 221, 0.7), rgba(39, 118, 221, 0.9));
    border-radius: .5rem .5rem 0 0;
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .card__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 45%;
    background-color: aquya;
    border-radius: 0 0 .5rem .5rem; }
  .card__icon {
    width: 8rem;
    height: 8rem; }
  .card__texts {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 1.2; }
  .card__title {
    font-size: 1.2rem;
    letter-spacing: 1px; }
  .card__price {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 1.2rem; }
    .card__price span {
      margin-left: 1px;
      font-weight: 400; }
  .card__text {
    font-size: 1rem; }
  .card__list {
    height: 60%;
    width: 90%; }
  .card__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.6rem; }
    .card__item span:last-child {
      font-weight: 800;
      color: #0053bf; }

.form__input-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: .5rem;
  margin-bottom: .5rem; }

.form__input-name {
  color: #fff; }

.form__input {
  height: 2.5rem;
  width: 80%;
  border-radius: .5rem;
  border: none;
  outline: none; }

.form__text-area {
  width: 80%;
  height: 4rem;
  border-radius: .5rem; }

.social-icons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly; }
  .social-icons__icon {
    height: 2.5rem;
    width: 2.5rem; }

.header {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid #0053bf; }
  .header__logo {
    width: 5rem;
    position: absolute;
    left: 5%;
    z-index: 2; }

.sec-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43rem;
  padding: 4rem 4rem 1rem 4rem; }
  @media only screen and (max-width: 700px) {
    .sec-info {
      padding: 1rem; } }
  .sec-info__container {
    display: flex;
    width: 100%;
    height: 100%; }
    @media only screen and (max-width: 450px) {
      .sec-info__container {
        flex-direction: column; } }
  .sec-info__left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    height: 100%; }
  .sec-info__left {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start; }
    @media only screen and (max-width: 450px) {
      .sec-info__left {
        justify-content: center;
        align-items: center;
        height: 100%;
        justify-content: space-between; } }
  .sec-info__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%; }
  .sec-info__image {
    height: 90%;
    width: 90%; }
    @media only screen and (max-width: 550px) {
      .sec-info__image {
        height: 100%;
        width: 100%; } }
    @media only screen and (max-width: 450px) {
      .sec-info__image {
        height: 80%;
        width: 80%; } }
  .sec-info__expo {
    text-align: justify; }
    @media only screen and (max-width: 700px) {
      .sec-info__expo {
        margin-bottom: 1rem; } }
    @media only screen and (max-width: 450px) {
      .sec-info__expo {
        width: 80%; } }

.sec-products {
  min-height: 50rem;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 1170px) {
    .sec-products {
      padding: 2rem 4rem; } }
  @media only screen and (max-width: 580px) {
    .sec-products {
      padding: 2rem 2rem; } }
  .sec-products__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%; }
    @media only screen and (max-width: 580px) {
      .sec-products__top {
        width: 100%; } }
  .sec-products__bottom {
    min-height: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    @media only screen and (max-width: 480px) {
      .sec-products__bottom {
        justify-content: center; } }
  .sec-products__product {
    height: 17rem;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify; }
    @media only screen and (max-width: 850px) {
      .sec-products__product {
        width: 40%;
        height: 19rem; } }
    @media only screen and (max-width: 580px) {
      .sec-products__product {
        width: 45%;
        height: 20rem; } }
    @media only screen and (max-width: 480px) {
      .sec-products__product {
        width: 80%;
        height: 16rem;
        margin-top: 1rem; } }
  .sec-products__icon {
    height: 8rem;
    width: 8rem; }
  .sec-products__expo {
    width: 85%;
    text-align: center; }
    @media only screen and (max-width: 580px) {
      .sec-products__expo {
        width: 100%;
        text-align: justify; } }

.sec-download {
  height: 40rem;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(0, 83, 191, 0.2), rgba(0, 83, 191, 0.5)); }
  .sec-download__left {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 45%; }
  .sec-download__telephone {
    height: 30rem; }
  .sec-download__right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 55%;
    height: 80%;
    text-align: center; }
  .sec-download__stores-logo {
    height: 7.5rem;
    width: 40em; }

.sec-counter {
  height: 55rem;
  padding: 3rem 6rem;
  background-image: linear-gradient(to bottom, rgba(22, 25, 59, 0.6), rgba(22, 25, 59, 0.5)), url("../images/background_seagul.png");
  background-size: cover;
  display: flex;
  flex-direction: column; }
  .sec-counter__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%; }
  .sec-counter__top {
    height: 15%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center; }
  .sec-counter__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85%; }

.sec-card {
  height: 70rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .sec-card__cards {
    flex-basis: 95%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }

.sec-looking-for {
  height: 40rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)), url("../images/office_image.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .sec-looking-for__text {
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: 3.5rem;
    color: #fff;
    letter-spacing: 1px;
    margin: 1rem; }

.sec-form {
  height: 35rem;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 83, 191, 0.5), rgba(0, 83, 191, 0.4));
  display: flex;
  padding: 0 4rem; }
  .sec-form__cap {
    font-size: 2rem;
    color: #fff; }
  .sec-form__form-container {
    width: 100%;
    height: 50%; }
  .sec-form__right-side {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .sec-form__left-side {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
  .sec-form__paragraph {
    width: 85%; }
  .sec-form__icon {
    height: 30rem; }

.footer {
  height: 25rem;
  display: flex;
  flex-direction: column; }
  .footer__top {
    flex-basis: 15%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  .footer__center {
    flex-basis: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 5rem; }
  .footer__bottom {
    border-top: 2px solid #0053bf;
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .footer__list-container {
    height: 60%;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem; }
  .footer__list {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .footer__item {
    list-style-type: none; }
  .footer__link:link, .footer__link:visited {
    font-size: 1.1rem;
    color: #000;
    text-decoration: none;
    font-weight: 400; }
  .footer__cap {
    font-size: 2.2rem;
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif; }
