* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  line-height: 1.5; }

.button {
  padding: 1.2rem 3rem;
  text-transform: uppercase;
  border-radius: 5rem;
  background-color: #40B2BF;
  outline: none;
  color: #fff;
  border: none;
  font-size: .9rem;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: 600;
  position: relative; }
  .button span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease-in; }
    .button span:last-child {
      top: 0%;
      color: #fff;
      opacity: 0; }
  .button:hover, .button:active {
    background-color: #5CE0EF; }
    .button:hover span:last-child, .button:active span:last-child {
      top: 50%;
      opacity: 1; }
    .button:hover span:first-child, .button:active span:first-child {
      opacity: 0; }

.navigation {
  width: 75%;
  display: flex;
  justify-content: space-between; }
  .navigation__nav {
    flex-basis: 80%; }
  .navigation__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600; }

.social-nav__list {
  list-style: none;
  display: flex; }

.header {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  box-shadow: 10px 1px 3px #948989; }
  .header__logo {
    width: 5rem; }
  .header__social-nav {
    position: absolute;
    top: 0.5rem;
    right: 2rem; }
