.navigation {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  @media only screen and(max-width: 900px){
    width: 100%;
    }
  &__checkbox{}
  &__button{
    display: block;
    height: 2rem;
    width: 2.5rem;
    background-color: $main-color;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    cursor: pointer;
    padding: 4px;
    border-radius: .2rem;
  }
  &__line{
    display: block;
    width: 1.4rem;
    height: 2.5px;
    background-color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &::before,
    &::after{
      content: '';
      position: absolute;
      display: block;
      left: 0;
      width: 1.4rem;
      height: 2.5px;
      background-color: $color-white;
    }
    &::before{
      top: -.4rem;
    }
    &::after{
      top: .4rem;
    }
  }
  .nav-top {
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-between;

    @media only screen and(max-width: 900px){
      display: none;
    }
    &__list {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      flex: 0 100%;
      
    }
    &__item {
    }
    &__link {
      &:link,
      &:visited {
        font-size: 1.2rem;
        color: rgba($color-black, 0.7);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
      }
      &:hover,
      &:active {
        color: $main-color;
      }
    }
  }

  .nav-bottom {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 4.1rem;
    width: 100%;
    height: 22rem;
    background-color: rgba($second-color, 0.6);
    box-shadow: 0 2px 5px 2px rgba($color-black, 0.2);
    @supports(backdrop-filter: blur(.5rem)) or (-webkit-backdrop-filter: blur(.5rem)){
      backdrop-filter: blur(.5rem);
      -webkit-backdrop-filter: blur(.5rem);
      background-color: rgba($second-color, 0.5);
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    &__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      
    }
    &__link {
      &,
      &:link,
      &:visited {
        display: block;
        font-size: 1.2rem;
        text-decoration: none;
        color: $color-white;
        padding: 0.3rem 0;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
      &:hover,
      &:active {
        color: $main-color;
      }
    }
  }
}
.nav-bottom-show {
  visibility: hidden;
}