* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
mobile ----->   (0-375)px
mobile-landscape ---- > (376-480)px
tablet portrait ----- > (481-768)px
tablet landscape & laptop ----- > (769-1024)px
desktop ------ > (1025-1200)px
*/
html {
    font-size: 16px;
}
body {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
object {
    pointer-events: none;
}