.t1{
    font-family: 'Nunito Sans', sans-serif;
    color: $main-color;
    font-size: 2.3rem;
    font-weight: 800;
    line-height: 1.3px;
}
.t2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    color: $main-color;
}
.t3{
    font-size: 1.3rem;
    color: $second-color;
}
.t4{
    font-size: 1.15rem;
    columns: $color-font-gray
}

.s1{
    font-size: 1rem;
    color: #787575;
}
.s2{}