.t1{
    font-family: 'Nunito Sans', sans-serif;
    color: $main-color;
    font-size: 2.3rem;
    font-weight: 800;
    @media only screen and (max-width: 450px){
        text-align: center;
        font-size: 2rem;
    }
    @media only screen and (max-width: 400px){
        font-size: 1.8rem;
    }
}
.t1--white{
    font-family: 'Nunito Sans', sans-serif;
    color: $color-white;
    font-size: 2.3rem;
    font-weight: 800;
    line-height: 1.3px;
    @media only screen and (max-width: 640px){
        line-height: normal;
      }
}
.t2{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2rem;
    color: $main-color;
    @media only screen and (max-width: 580px){
        font-size: 1.7rem;
      }
      @media only screen and (max-width: 400px){
        font-size: 1.6rem;
        text-align: center;
      }
}
.t3{
    font-size: 1.3rem;
    color: $second-color;
}
.t4{
    font-size: 1.15rem;
    color: $color-font-gray;
}
.s1--white{
    font-size: 1rem;
    color: $color-white;
    letter-spacing: .5px;
    @media only screen and (max-width: 451px){
        text-align: justify;
        font-size: 1.2rem;
      }
      @media only screen and (max-width: 378px){
        font-size: 1.1rem;
      }
}
.s1{
    font-size: 1rem;
    color: #787575;
    @media only screen and (max-width: 1170px){
        font-size: .9rem;
      }
      @media only screen and (max-width: 480px){
        font-size: 1rem;
      }
}
.s2{}