.sec-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43rem;
  padding: 4rem 4rem 1rem 4rem;
  @media only screen and (max-width: 700px){
    padding: 1rem;
  }
  &__container {
    display: flex;
    width: 100%;
    height: 100%;
    @media only screen and (max-width: 500px){
      flex-direction: column;
    }
  }
  &__left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    height: 100%;
  }
  &__left {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    @media only screen and (max-width: 500px){
      justify-content: center;
      align-items: center;
      height: 100%;
      justify-content: space-between;
    }
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
  }
  &__image {
    height: 90%;
    width: 90%;
    @media only screen and (max-width: 500px){
      height: 80%;
      width: 80%;
    }
  }
  &__expo {
    text-align: justify;
    @media only screen and (max-width: 700px){
      margin-bottom: 1rem;
  }
  @media only screen and (max-width: 450px){
    width: 80%;
}
  }
}

.sec-products {
  min-height: 50rem;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 1170px){
    padding: 2rem 4rem;
}
@media only screen and (max-width: 580px){
  padding: 2rem 2rem;
}
  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    @media only screen and (max-width: 580px){
      width: 100%;
    }
  }
  &__bottom {
    min-height: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media only screen and (max-width: 480px){
      justify-content: center;
    }
  }
  &__product {
    height: 17rem;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    @media only screen and (max-width: 850px){
      width: 40%;
      height: 19rem;
    }
    @media only screen and (max-width: 580px){
      width: 45%;
      height: 20rem;
    }
    @media only screen and (max-width: 480px){
      width: 80%;
      height: 16rem;
      margin-top: 1rem;
    }
    @media only screen and (max-width: 350px){
      width: 90%;
      height: 20rem;
      margin-top: 2rem;
    }
  }
  &__icon {
    height: 8rem;
    width: 8rem;
  }
  &__expo {
    width: 85%;
    text-align: center;
    @media only screen and (max-width: 580px){
      width: 100%;
      text-align: justify;
    }
  }
}

.sec-download {
  height: 40rem;
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgba($main-color, 0.2),
    rgba($main-color, 0.5)
  );
  @media only screen and (max-width: 625px){
    flex-direction: column;
    padding: 2rem 0;
}
  &__left {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 45%;
  }
  &__telephone {
    height: 30rem;
    @media only screen and (max-width: 880px){
      height: 26rem;
  }
  @media only screen and (max-width: 720px){
    height: 22rem;
  }
  @media only screen and (max-width: 480px){
    height: 20rem;
}
@media only screen and (max-width: 350px){
  height: 20rem;
  width: 15rem;
}
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 55%;
    height: 80%;
    text-align: center;
  }
  &__stores-logo {
    height: 7.5rem;
    width: 40em;
    @media only screen and (max-width: 880px){
        width: 30rem;
        height: 6.5rem;
    }
    @media only screen and (max-width: 800px){
      width: 25rem;
      height: 5rem;
  }
  @media only screen and (max-width: 350px){
    height: 4rem;
    width: 21rem;
}
  }
}

.sec-counter {
  height: 55rem;
  padding: 3rem 6rem;
  background-image: linear-gradient(
      to bottom,
      rgba(#16193b, 0.6),
      rgba(#16193b, 0.5)
    ),
    url("../images/background_seagul.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 860px){
   padding: 1.5rem 3rem;
  }
  @media only screen and (max-width: 800px){
    padding: 3rem 1rem;
  }
  @media only screen and (max-width: 760px){
    height: 60rem;
    padding: 1rem;
  }
  @media only screen and (max-width: 535px){
    height: 90rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    @media only screen and (max-width: 760px){
      height: 100%;
    }
  }
  &__top {
    height: 15%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    @media only screen and (max-width: 860px){
      margin-top: 2rem;
    }
    @media only screen and (max-width: 640px){
      width: 90%;
    }
    @media only screen and (max-width: 575px){
      width: 100%;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85%;
    @media only screen and (max-width: 760px){
      flex-wrap: wrap;
      padding: 0 3rem;
    }
    @media only screen and (max-width: 535px){
      justify-content: center;
    }
  }
}

.sec-card {
  height: 80rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 1150px){
    padding: 1rem;
  }
  @media only screen and (max-width: 1024px){
    height: 120rem;
    padding: 1rem 6rem;
  }
  @media only screen and (max-width: 900px){
    padding: 1rem 3rem;
  }
  @media only screen and (max-width: 700px){
   height: auto;
   padding: 1rem 2rem;
  }
  &__cards {
    flex-basis: 95%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
      @media only screen and (max-width: 700px){
    justify-content: center;
    }
  }
}

.sec-looking-for {
  height: 40rem;
  background-image: linear-gradient(
      to bottom,
      rgba($color-black, 0.7),
      rgba($color-black, 0.6)
    ),
    url("../images/office_image.jpg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__text {
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: 3.5rem;
    color: $color-white;
    letter-spacing: 1px;
    margin: 1rem;
    @media only screen and (max-width: 980px){
      font-size: 3rem;
    }
    @media only screen and (max-width: 768px){
     font-size: 2.5rem; 
    }
    @media only screen and (max-width: 650px){
      text-align: center;
      margin-bottom: 2rem;
     }
  }
}

.sec-form {
  height: 35rem;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba($main-color, 0.5),
    rgba($main-color, 0.4)
  );
  display: flex;
  padding: 0 4rem;
  @media only screen and (max-width: 1024px){
    padding: 0;
   }
   @media only screen and (max-width: 767px){
    flex-direction: column;
    height: 65rem;
    justify-content: center;
    align-items: center;
   }
  &__cap {
    display: inline-block;
    font-size: 2rem;
    color: $color-white;
  }
  &__form-container {
    width: 100%;
    height: 50%;
    @media only screen and (max-width: 900px){
      height: 40%;
     }
     @media only screen and (max-width: 767px){
        height: 50%;
     }
  }
  &__right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: 767px){
      align-items: flex-start;
      width: 100%;
     }
  }
  &__left-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media only screen and (max-width: 767px){
      padding-left: 25%;
      width: 100%;
     }
     @media only screen and (max-width: 680px){
      padding-left: 20%;
     }
     @media only screen and (max-width: 580px){
      padding-left: 15%;
     }
  }
  &__paragraph {
    width: 85%;
    @media only screen and (max-width: 767px){
      width: 75%;
     }
  }
  &__icon {
    height: 30rem;
    @media only screen and (max-width: 900px){
      height: 25rem;
     }
     @media only screen and (max-width: 767px){
      height: 30rem;
     }
     @media only screen and (max-width: 580px){
      height: 28rem;
     }
     @media only screen and (max-width: 400px){
      height: 23rem;
     }
  }
}

.footer {
  height: 25rem;
  display: flex;
  flex-direction: column;
  &__top{
    flex-basis: 15%;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__center{
    flex-basis: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 5rem;
  }
  &__bottom{
    border-top: 2px solid $main-color;
    flex-basis: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list-container{
    height: 60%;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  &__list{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  &__item{
    list-style-type: none;
  }
  &__link{
    &:link,
    &:visited {
      font-size: 1.1rem;
      color: $color-black;
      text-decoration: none;
      font-weight: 400;
    }
  }
  &__cap{
    font-size: 2.2rem;
    font-weight: 800;
    font-family: 'Nunito Sans', sans-serif;
  }
}
