.header {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  box-shadow: 10px 1px 3px rgb(148, 137, 137);
  &__logo {
    width: 5rem;
  }
  &__social-nav {
    position: absolute;
    top: 0.5rem;
    right: 2rem;
  }
}
