.header {
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid $main-color;
  &__logo {
    width: 5rem;
    position: absolute;
    left: 5%;
    z-index: 2;
  }
}
